/nbproject/private/
/dist/
/GuessingGame/nbproject/private/
/GuessingGame/build/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/Connect4/nbproject/private/
/Connect4Server/nbproject/private/
/Connect4Client/nbproject/private/
src/img/characters/axeMan.png
src/img/portraits/axeMan_battle_portrait.png
src/img/characters/axeman.png
src/img/portraits/axeman_battle_portrait.png